<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relative Size</title>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
</head>
<body>
        <div class="hero text-center">
              </div>
              <div class="container">
                <div class="row margin-top-50">
                  <div class="col-md-2">
                    <aside class="filters">
                      <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                          <form>
                            <div class="form-group">
                              <ul class="list-group" id="filters">
                                <li id="filter category">
                                  <select id="myList">
                                    <option value="macbook">MacBook Pro 2012</option>
                                    <option value="oculus">Oculus Rift</option>
                                    <option value="fiftycent">50 Cent</option>
                                    <option value="cigs">365 Packs of Cigarettes in 2014</option>
                                    <option value="ps4">PS4</option>
                                    <option value="pizza">Bitcoin Pizza</option>
                                  </select>
                                </li>
                                <li><button id="filter-btn" type="submit" class="btn btn-default">Data!</button><button id="filter-btn-too" type="submit" class="btn btn-default">Draw!</button></li>
                              </ul>
                            </div>
                            
                          </form>
                        </div>
                      </div>
                    </aside>
                  </div>
    <a-scene antialias="true">
        <a-entity id="display"></a-entity>
        <!-- Camera -->
        <a-entity position="0 1.6 5">
            <a-entity camera="fov: 60" look-controls wasd-controls></a-entity>
        </a-entity>
        <a-plane position="0 0 -10" rotation="-90 0 0" width="4" height="4" color="black"></a-plane>
        <a-sky color="#ECECEC"></a-sky>
    </a-scene>
    <script src="{{ url_for('static', filename='js/circles.js') }}"></script>
</body>
</html>   